src/main/app/firstapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="firstappFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/first" doc:name="HTTP"/>
        <logger message="request is received....#[payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="name" value="#[flowVars.name]" doc:name="Variable"/>
        <set-session-variable variableName="job" value="#[sessionVars.job]" doc:name="Session Variable"/>
        <set-payload value="firstname....#[message.inboundProperties.'http.query.params'.name]

second value....#[message.inboundProperties.'http.query.params'.job]

" doc:name="Set Payload"/>
        <logger message="flowVariables....#[flowVars.name] .....session variable....#[sessionVars.job]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
